html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(68,69,68);
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div {
  display: inline-block;;
  margin-bottom: 30px;
  color: white;
}
